/* .Menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
} */

.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Select {
  /* height: 0; */
  /* height: 70px; */
  width: 50%;
}
